<footer data-noindex="true" class="site-footer">
    <div class="container site-footer__container">
        <section class="site-footer__section">
            <h2 class="site-footer__title heading heading--l h-mb-2">Kunnen we je ergens mee helpen?</h2>
            <ul class="list list--reset contact contact--inline">
                <li class="contact__section">
                    <svg viewBox="0 0 16 16" class="icon icon--ml icon--nsLightBlue contact__icon">
                        <use xlink:href="#forum">
                            <svg id="forum" viewBox="0 0 48 48">
                                <title>icoon_</title>
                                <path
                                    d="M43 13H17a2.971 2.971 0 00-3 3v15a2.973 2.973 0 003 3h8v9l9-9h9a2.971 2.971 0 003-3V16a2.971 2.971 0 00-3-3zm2 18a1.973 1.973 0 01-2 2h-9.414l-.293.293L26 40.586V33h-9a1.976 1.976 0 01-2-2V16a1.973 1.973 0 012-2h26a1.973 1.973 0 012 2z">
                                </path>
                                <path
                                    d="M4 23V8a2.006 2.006 0 012-2h21a2.006 2.006 0 012 2v3h1V8a3 3 0 00-3-3H6a3 3 0 00-3 3v15a3 3 0 003 3h6v-1H6a2.006 2.006 0 01-2-2z">
                                </path>
                            </svg>
                        </use>
                    </svg>
                    <div>
                        <div class="contact__subtitle"><button class="button button--link">Chat met een
                                medewerker</button></div>
                        <p class="contact__description">Stel direct je vraag</p>
                    </div>
                </li>
                <li class="contact__section">
                    <svg viewBox="0 0 16 16" class="icon icon--ml icon--nsLightBlue contact__icon">
                        <use xlink:href="#whatsapp"><svg id="whatsapp" viewBox="0 0 38 37.244">
                                <title>whatsapp--large</title>
                                <path
                                    d="M19.378 1a17.622 17.622 0 11-9.326 32.576l-.381-.238-.432.126-7.762 2.283 2.394-8.14.114-.39-.19-.36A17.627 17.627 0 0119.378 1m0-1A18.628 18.628 0 002.911 27.325L0 37.224l9.521-2.8A18.623 18.623 0 1019.378 0z">
                                </path>
                                <path
                                    d="M24.805 28.032a5.209 5.209 0 01-.906-.083c-4.111-.729-7.933-4.732-8.223-5.041-.311-.292-4.313-4.113-5.041-8.223-.588-3.315 2.1-4.961 3.786-5.41a1.773 1.773 0 011.743.471 14.29 14.29 0 011.8 4.208 1.836 1.836 0 01-.809 1.631l-.87.685c-.228.184-.162.3-.133.351a15.593 15.593 0 002.565 3.244 15.593 15.593 0 003.244 2.565c.051.029.168.1.354-.136l.685-.869a1.814 1.814 0 011.628-.808 14.328 14.328 0 014.209 1.8 1.77 1.77 0 01.47 1.744c-.407 1.523-1.787 3.87-4.502 3.871zM14.9 10.213a.815.815 0 00-.217.029c-.373.1-3.627 1.064-3.06 4.269.683 3.853 4.71 7.639 4.751 7.677l.026.026c.038.041 3.824 4.067 7.677 4.75 3.207.566 4.169-2.686 4.268-3.059a.781.781 0 00-.2-.771 15.755 15.755 0 00-3.572-1.519.861.861 0 00-.779.428l-.689.874a1.24 1.24 0 01-1.63.382 16.546 16.546 0 01-3.457-2.727 16.6 16.6 0 01-2.728-3.457 1.24 1.24 0 01.381-1.627l.874-.691a.847.847 0 00.429-.781 15.624 15.624 0 00-1.523-3.577.769.769 0 00-.551-.226z">
                                </path>
                            </svg></use>
                    </svg>
                    <div>
                        <div class="contact__subtitle"><a href="https://api.whatsapp.com/send?phone=31612974755"
                                target="_blank" rel="external noopener"
                                data-eventdata="{&quot;data&quot;:{&quot;interaction_action&quot;:&quot;open_whatsapp&quot;,&quot;interaction_location&quot;:&quot;contactblok&quot;,&quot;interaction_name&quot;:&quot;Stel je vraag via WhatsApp&quot;,&quot;interaction_type&quot;:&quot;click&quot;},&quot;event&quot;:&quot;website_interaction&quot;}">
                                Stel je vraag via WhatsApp
                            </a>
                        </div>
                        <p class="contact__description">Snel en gemakkelijk</p>
                    </div>
                </li>
                <li class="contact__section">
                    <svg viewBox="0 0 16 16" class="icon icon--ml icon--nsLightBlue contact__icon">
                        <use xlink:href="#phone"><svg id="phone" viewBox="0 0 48 48">
                                <title>icoon_</title>
                                <path
                                    d="M34 2H14a3 3 0 00-3 3v38a3 3 0 003 3h20a3 3 0 003-3V5a3 3 0 00-3-3zm2 41a2 2 0 01-2 2H14a2 2 0 01-2-2V5a2 2 0 012-2h20a2 2 0 012 2z">
                                </path>
                                <path
                                    d="M32 6H16a1 1 0 00-1 1v29a1 1 0 001 1h16a1 1 0 001-1V7a1 1 0 00-1-1zm0 30H16V7h16zM24 38.5a2.5 2.5 0 102.5 2.5 2.5 2.5 0 00-2.5-2.5zm0 4a1.5 1.5 0 111.5-1.5 1.5 1.5 0 01-1.5 1.5z">
                                </path>
                            </svg></use>
                    </svg>
                    <div>
                        <div class="contact__subtitle"><a href="tel:0886721002"
                                data-eventdata="{&quot;data&quot;:{&quot;interaction_action&quot;:&quot;click_telefoon&quot;,&quot;interaction_location&quot;:&quot;contactblok&quot;,&quot;interaction_name&quot;:&quot;088 6721002&quot;,&quot;interaction_type&quot;:&quot;click&quot;},&quot;event&quot;:&quot;website_interaction&quot;}">088
                                6721002</a></div>
                        <p class="contact__description">Gebruikelijke belkosten</p>
                    </div>
                </li>
            </ul>
        </section>
        <section data-noindex="true" class="site-footer__section">
            <div class="site-footer__column">
                <h2 class="site-footer__column-title">Onze uitjes</h2>
                <ul class="list list--arrow list--spaced-2">
                    <li class="list__item">
                        <a href="/spoordeelwinkel/attracties"
                            data-eventdata="{&quot;data&quot;:{&quot;link_data&quot;:{&quot;index&quot;:1},&quot;link_location&quot;:&quot;footer_bottom&quot;,&quot;link_name&quot;:&quot;Attracties&quot;,&quot;link_type&quot;:&quot;internal&quot;,&quot;link_value&quot;:&quot;/spoordeelwinkel/attracties&quot;},&quot;event&quot;:&quot;link_click&quot;}"
                            class="list__anchor arrow-link">
                            <svg width="8" height="8" aria-hidden="true" class="arrow-link__icon icon icon--textColor">
                                <use xlink:href="#chevron-mini"></use>
                            </svg>
                            <span class="arrow-link__text">Attracties</span>
                        </a>
                    </li>
                    <li class="list__item">
                        <a href="/spoordeelwinkel/stedentrips"
                            data-eventdata="{&quot;data&quot;:{&quot;link_data&quot;:{&quot;index&quot;:2},&quot;link_location&quot;:&quot;footer_bottom&quot;,&quot;link_name&quot;:&quot;Stedentrips&quot;,&quot;link_type&quot;:&quot;internal&quot;,&quot;link_value&quot;:&quot;/spoordeelwinkel/stedentrips&quot;},&quot;event&quot;:&quot;link_click&quot;}"
                            class="list__anchor arrow-link">
                            <svg width="8" height="8" aria-hidden="true" class="arrow-link__icon icon icon--textColor">
                                <use xlink:href="#chevron-mini"></use>
                            </svg>
                            <span class="arrow-link__text">Stedentrips</span>
                        </a>
                    </li>
                    <li class="list__item">
                        <a href="/spoordeelwinkel/evenementen"
                            data-eventdata="{&quot;data&quot;:{&quot;link_data&quot;:{&quot;index&quot;:3},&quot;link_location&quot;:&quot;footer_bottom&quot;,&quot;link_name&quot;:&quot;Evenementen &amp; Cultuur&quot;,&quot;link_type&quot;:&quot;internal&quot;,&quot;link_value&quot;:&quot;/spoordeelwinkel/evenementen&quot;},&quot;event&quot;:&quot;link_click&quot;}"
                            class="list__anchor arrow-link">
                            <svg width="8" height="8" aria-hidden="true" class="arrow-link__icon icon icon--textColor">
                                <use xlink:href="#chevron-mini"></use>
                            </svg>
                            <span class="arrow-link__text">Evenementen &amp; Cultuur</span>
                        </a>
                    </li>
                    <li class="list__item">
                        <a href="/spoordeelwinkel/nachtje-weg"
                            data-eventdata="{&quot;data&quot;:{&quot;link_data&quot;:{&quot;index&quot;:4},&quot;link_location&quot;:&quot;footer_bottom&quot;,&quot;link_name&quot;:&quot;Nachtje weg&quot;,&quot;link_type&quot;:&quot;internal&quot;,&quot;link_value&quot;:&quot;/spoordeelwinkel/nachtje-weg&quot;},&quot;event&quot;:&quot;link_click&quot;}"
                            class="list__anchor arrow-link">
                            <svg width="8" height="8" aria-hidden="true" class="arrow-link__icon icon icon--textColor">
                                <use xlink:href="#chevron-mini"></use>
                            </svg>
                            <span class="arrow-link__text">Nachtje weg</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="site-footer__column">
                <h2 class="site-footer__column-title">Spoordeelwinkel</h2>
                <ul class="list list--arrow list--spaced-2">
                    <li class="list__item">
                        <a href="/spoordeelwinkel/cadeaukaart"
                            data-eventdata="{&quot;data&quot;:{&quot;link_data&quot;:{&quot;index&quot;:1},&quot;link_location&quot;:&quot;footer_bottom&quot;,&quot;link_name&quot;:&quot;Cadeaukaart&quot;,&quot;link_type&quot;:&quot;internal&quot;,&quot;link_value&quot;:&quot;/spoordeelwinkel/cadeaukaart&quot;},&quot;event&quot;:&quot;link_click&quot;}"
                            class="list__anchor arrow-link">
                            <svg width="8" height="8" aria-hidden="true" class="arrow-link__icon icon icon--textColor">
                                <use xlink:href="#chevron-mini"></use>
                            </svg>
                            <span class="arrow-link__text">Cadeaukaart</span>
                        </a>
                    </li>
                    <li class="list__item">
                        <a href="/spoordeelwinkel/klantenservice"
                            data-eventdata="{&quot;data&quot;:{&quot;link_data&quot;:{&quot;index&quot;:2},&quot;link_location&quot;:&quot;footer_bottom&quot;,&quot;link_name&quot;:&quot;Klantenservice&quot;,&quot;link_type&quot;:&quot;internal&quot;,&quot;link_value&quot;:&quot;/spoordeelwinkel/klantenservice&quot;},&quot;event&quot;:&quot;link_click&quot;}"
                            class="list__anchor arrow-link">
                            <svg width="8" height="8" aria-hidden="true" class="arrow-link__icon icon icon--textColor">
                                <use xlink:href="#chevron-mini"></use>
                            </svg>
                            <span class="arrow-link__text">Klantenservice</span>
                        </a>
                    </li>
                    <li class="list__item">
                        <a href="https://webformulier.ns.nl/spoordeelwinkel/"
                            data-eventdata="{&quot;data&quot;:{&quot;link_data&quot;:{&quot;index&quot;:3},&quot;link_location&quot;:&quot;footer_bottom&quot;,&quot;link_name&quot;:&quot;Nieuwsbrief&quot;,&quot;link_type&quot;:&quot;external&quot;,&quot;link_value&quot;:&quot;https://webformulier.ns.nl/spoordeelwinkel/&quot;},&quot;event&quot;:&quot;link_click&quot;}"
                            target="_blank" rel="external noopener" class="list__anchor arrow-link">
                            <svg width="8" height="8" aria-hidden="true" class="arrow-link__icon icon icon--textColor">
                                <use xlink:href="#chevron-mini"></use>
                            </svg>
                            <span class="arrow-link__text">Nieuwsbrief</span>
                        </a>
                    </li>
                    <li class="list__item">
                        <a href="/spoordeelwinkel/over-ons.html"
                            data-eventdata="{&quot;data&quot;:{&quot;link_data&quot;:{&quot;index&quot;:4},&quot;link_location&quot;:&quot;footer_bottom&quot;,&quot;link_name&quot;:&quot;Over ons&quot;,&quot;link_type&quot;:&quot;internal&quot;,&quot;link_value&quot;:&quot;/spoordeelwinkel/over-ons.html&quot;},&quot;event&quot;:&quot;link_click&quot;}"
                            class="list__anchor arrow-link">
                            <svg width="8" height="8" aria-hidden="true" class="arrow-link__icon icon icon--textColor">
                                <use xlink:href="#chevron-mini"></use>
                            </svg>
                            <span class="arrow-link__text">Over ons</span>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="site-footer__column">
                <h2 class="site-footer__column-title">Ga naar</h2>
                <ul class="list list--arrow list--spaced-2">
                    <li class="list__item">
                        <a href="https://www.ns.nl/reisplanner#/"
                            data-eventdata="{&quot;data&quot;:{&quot;link_data&quot;:{&quot;index&quot;:1},&quot;link_location&quot;:&quot;footer_bottom&quot;,&quot;link_name&quot;:&quot;Reisplanner&quot;,&quot;link_type&quot;:&quot;external&quot;,&quot;link_value&quot;:&quot;https://www.ns.nl/reisplanner#/&quot;},&quot;event&quot;:&quot;link_click&quot;}"
                            target="_blank" rel="external noopener" class="list__anchor arrow-link">
                            <svg width="8" height="8" aria-hidden="true" class="arrow-link__icon icon icon--textColor">
                                <use xlink:href="#chevron-mini"></use>
                            </svg>
                            <span class="arrow-link__text">Reisplanner</span>
                        </a>
                    </li>
                    <li class="list__item">
                        <a href="https://www.ns.nl/dagje-uit/wandelen#/"
                            data-eventdata="{&quot;data&quot;:{&quot;link_data&quot;:{&quot;index&quot;:2},&quot;link_location&quot;:&quot;footer_bottom&quot;,&quot;link_name&quot;:&quot;NS Wandelingen&quot;,&quot;link_type&quot;:&quot;external&quot;,&quot;link_value&quot;:&quot;https://www.ns.nl/dagje-uit/wandelen#/&quot;},&quot;event&quot;:&quot;link_click&quot;}"
                            target="_blank" rel="external noopener" class="list__anchor arrow-link">
                            <svg width="8" height="8" aria-hidden="true" class="arrow-link__icon icon icon--textColor">
                                <use xlink:href="#chevron-mini"></use>
                            </svg>
                            <span class="arrow-link__text">NS Wandelingen</span>
                        </a>
                    </li>
                    <li class="list__item">
                        <a href="https://www.nsfavourites.nl/"
                            data-eventdata="{&quot;data&quot;:{&quot;link_data&quot;:{&quot;index&quot;:3},&quot;link_location&quot;:&quot;footer_bottom&quot;,&quot;link_name&quot;:&quot;Insidertips voor stedentrips&quot;,&quot;link_type&quot;:&quot;external&quot;,&quot;link_value&quot;:&quot;https://www.nsfavourites.nl/&quot;},&quot;event&quot;:&quot;link_click&quot;}"
                            target="_blank" rel="external noopener" class="list__anchor arrow-link">
                            <svg width="8" height="8" aria-hidden="true" class="arrow-link__icon icon icon--textColor">
                                <use xlink:href="#chevron-mini"></use>
                            </svg>
                            <span class="arrow-link__text">Insidertips voor stedentrips</span>
                        </a>
                    </li>
                    <li class="list__item">
                        <a href="javascript:window._stCookiePopup.showPopup()" class="list__anchor arrow-link">
                            <svg width="8" height="8" aria-hidden="true" class="arrow-link__icon icon icon--textColor">
                                <use xlink:href="#chevron-mini"></use>
                            </svg>
                            <span class="arrow-link__text">Cookievoorkeur wijzigen </span>
                        </a>
                    </li>
                </ul>
            </div>
        </section>
        <section data-noindex="true" class="site-footer__bottom">
            <ul class="site-footer__bottom-links list list--arrow list--grey list--inline">
                <li class="list__item">
                    <a href="https://www.ns.nl/privacy"
                        data-eventdata="{&quot;data&quot;:{&quot;link_data&quot;:{&quot;index&quot;:1},&quot;link_location&quot;:&quot;footer_bottom&quot;,&quot;link_name&quot;:&quot;Privacy&quot;,&quot;link_type&quot;:&quot;external&quot;,&quot;link_value&quot;:&quot;https://www.ns.nl/privacy&quot;},&quot;event&quot;:&quot;link_click&quot;}"
                        target="_blank" class="list__anchor arrow-link">
                        <svg width="8" height="8" aria-hidden="true" class="arrow-link__icon icon icon--textColor">
                            <use xlink:href="#chevron-mini"></use>
                        </svg>
                        <span class="arrow-link__text">Privacy</span>
                    </a>
                </li>
                <li class="list__item">
                    <a href="https://www.ns.nl/privacy/cookiebeleid.html"
                        data-eventdata="{&quot;data&quot;:{&quot;link_data&quot;:{&quot;index&quot;:2},&quot;link_location&quot;:&quot;footer_bottom&quot;,&quot;link_name&quot;:&quot;Cookies&quot;,&quot;link_type&quot;:&quot;external&quot;,&quot;link_value&quot;:&quot;https://www.ns.nl/privacy/cookiebeleid.html&quot;},&quot;event&quot;:&quot;link_click&quot;}"
                        target="_blank" class="list__anchor arrow-link">
                        <svg width="8" height="8" aria-hidden="true" class="arrow-link__icon icon icon--textColor">
                            <use xlink:href="#chevron-mini"></use>
                        </svg>
                        <span class="arrow-link__text">Cookies</span>
                    </a>
                </li>
                <li class="list__item">
                    <a href="/spoordeelwinkel/voorwaarden.html"
                        data-eventdata="{&quot;data&quot;:{&quot;link_data&quot;:{&quot;index&quot;:3},&quot;link_location&quot;:&quot;footer_bottom&quot;,&quot;link_name&quot;:&quot;Voorwaarden&quot;,&quot;link_type&quot;:&quot;internal&quot;,&quot;link_value&quot;:&quot;/spoordeelwinkel/voorwaarden.html&quot;},&quot;event&quot;:&quot;link_click&quot;}"
                        class="list__anchor arrow-link">
                        <svg width="8" height="8" aria-hidden="true" class="arrow-link__icon icon icon--textColor">
                            <use xlink:href="#chevron-mini"></use>
                        </svg>
                        <span class="arrow-link__text">Voorwaarden</span>
                    </a>
                </li>
            </ul>
            <div class="site-footer__follow">
                Volg ons op:
                <a href="https://www.facebook.com/spoordeelwinkel.nl/" target="_blank" rel="external noopener"
                    data-eventdata="{&quot;data&quot;:{&quot;link_creative&quot;:&quot;logo&quot;,&quot;link_location&quot;:&quot;footer_bottom&quot;,&quot;link_name&quot;:&quot;Facebookpagina Spoordeelwinkel&quot;,&quot;link_type&quot;:&quot;external&quot;,&quot;link_value&quot;:&quot;https://www.facebook.com/spoordeelwinkel.nl/&quot;},&quot;event&quot;:&quot;link_click&quot;}">
                    <svg viewBox="0 0 16 16" aria-hidden="true"
                        class="icon icon--socialFacebookBlue site-footer__logo-facebook">
                        <title></title>
                        <use xlink:href="#social-facebook"></use>
                    </svg>
                    <span class="visuallyhidden">Facebookpagina Spoordeelwinkel</span>
                </a>
            </div>
            <div class="site-footer__logo">
                <a href="/" target="_blank" rel="noopener"
                    data-eventdata="{&quot;data&quot;:{&quot;link_creative&quot;:&quot;logo&quot;,&quot;link_location&quot;:&quot;footer_bottom&quot;,&quot;link_name&quot;:&quot;Naar NS.nl&quot;,&quot;link_type&quot;:&quot;internal&quot;,&quot;link_value&quot;:&quot;/&quot;},&quot;event&quot;:&quot;link_click&quot;}"
                    class="site-footer__logo-link">
                    <svg viewBox="0 0 51 20" aria-hidden="true" class="icon icon--nsBlue site-footer__logo-ns">
                        <title></title>
                        <use xlink:href="#nslogo"></use>
                    </svg>
                    <span class="visuallyhidden">Naar NS.nl</span>
                </a>
            </div>
        </section>
    </div>
</footer>