/*-------------------
  generic overrides
-------------------*/

.tile__picture:after {
    opacity: 0.45;
}

.tile:hover {
    .tile__picture:after {
        opacity: 0.7;
    }
}

* {
    &:focus {
        outline: none;
    }
}